.menucontainer{
    box-sizing: border-box;
    border-right:1px solid #dee2e6;
    position: relative;
    min-height:300px;
}

.menuwrapper{
    margin-top: 30px;
    clear: both;
    padding-bottom: 10px;
    margin-bottom:10px;
}

.menu{
    text-decoration: none;
    color:black;
    padding:10px;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}

.active{
    background:#607D8B;
    color:white !important;
    border-radius:10px;
}

.contentbtn{
    margin-right:10px;
    margin-bottom: 10px;
    background:white;
    color:black !important;
    padding: 15px;
    border-color: #607D8B;
    
}

.contentbtn:hover{
    background-color:#607D8B;
    color:white !important;
    border:1px solid gray !important;
}


table{
    font-size:small;
}

table thead tr{
    background: #607D8B;
    color:white;
}

table th{
    font-weight: 400;
}

table td{
    vertical-align: middle;
}

.btn-danger{
    font-size: smaller !important;
}

.btn-warning{
    font-size: smaller !important;
}

