<section>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="optionbox" [routerLink]="['/products']">
            Inventory
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="optionbox" [routerLink]="['/orders/new']" >
            POS (Orders)
          </div>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="optionbox" [routerLink]="['/orders/all']">
             POS (All Orders)
            </div>
          </div>
        </div>
    </div>
  </div>
</section>