#wrapper{
    position: relative;
    box-sizing: border-box;
}


#neworder{
    position: absolute;
    margin: 0px;
    right: 0px;
    background:#607D8B;
    color:white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    font-size: small;
}

#neworder:hover{
    background:#777;
}

#orderlist{
    margin: 0px;
    padding: 10px 10px 10px 0px;
    font-weight: bold;
}

table{
    font-size:small;
}

table thead tr{
    background: #607D8B;
    color:white;
}

table th{
    font-weight: 400;
}

.btn-warning{
    font-size: smaller !important;
}